[submodule "deps/bc-crypto-base"]
	path = deps/bc-crypto-base
	url = git@github.com:BlockchainCommons/bc-crypto-base.git
[submodule "deps/bc-shamir"]
	path = deps/bc-shamir
	url = git@github.com:BlockchainCommons/bc-shamir.git
[submodule "deps/TRNG-for-ATSAMD51J19A-Adafruit-Metro-M4-"]
	path = deps/TRNG-for-ATSAMD51J19A-Adafruit-Metro-M4-
	url = git@github.com:SapientHetero/TRNG-for-ATSAMD51J19A-Adafruit-Metro-M4-.git
[submodule "deps/bc-bip39"]
	path = deps/bc-bip39
	url = git@github.com:BlockchainCommons/bc-bip39.git
[submodule "deps/GxEPD2"]
	path = deps/GxEPD2
	url = git@github.com:BlockchainCommons/GxEPD2.git
[submodule "deps/libwally-core"]
	path = deps/libwally-core
	url = git@github.com:ElementsProject/libwally-core.git
[submodule "deps/secp256k1-embedded"]
	path = deps/secp256k1-embedded
	url = git@github.com:BlockchainCommons/secp256k1-embedded.git
[submodule "deps/bc-bytewords"]
	path = deps/bc-bytewords
	url = git@github.com:BlockchainCommons/bc-bytewords.git
[submodule "deps/bc-sskr"]
	path = deps/bc-sskr
	url = git@github.com:BlockchainCommons/bc-sskr.git
